log.txt
../..bashrc.swp
	../.ICEauthority
	../.Xauthority
	../.bash_history
	../.bash_logout
	../.bash_profile
	../.bash_profile.save
	../.bash_profile.save.1
	../.bashrc
	../.bashrc.save
	../.bashrc.save.1
	../.cache/
	../.config/
	../.dbus/
	../.dmrc
	../.dreamchess/
	../.face
	../.gconf/
	../.gem/
	../.gitconfig
	../.gksu.lock
	../.gnome/
	../.gtk-bookmarks
	../.linuxmint/
	../.local/
	../.mozilla/
	../.path_progress
	../.pki/
	../.profile
	../.pry_history
	../.shoes/
	../.ssh/
	../.sudo_as_admin_successful
	../.xsession-errors
	../.xsession-errors.old
	../Code/
	../Desktop.shy
	../Desktop/
	./
	../Downloads/
	../SSH key/
	../end getsstriphmtsm
	../shoes/
	../therubyracer/
	../~bashrc

